*{
    padding: 0%;
    margin: 0%;
    background: #FFF;
}
.hero-img{
    height: 400px;
    width: 75%;
    border: 2px solid black;
    background-color: azure;
    background-image: url("/Assignment-one/Images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 50px 140px 0px 140px;
    filter: brightness(75%);
}
.hero-new{
    background: none;
    text-align: center;
    margin-top: 130px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 500;
    filter: brightness(140%);
}
.hero-party{
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 16px;
    filter: opacity(140%);
}
.sixty-off{
    margin-top: 50px;
    text-align: center;
    font-family: Inter;
}
.discount{
    color: #F00;
    font-size: 70px;
    font-weight: 700;
}
.descrip{
    margin-top: 20px;
    color: #F00;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.catagory{
    margin-top: 15px;
    color: #070211;
    font-size: 32px;
    font-weight: 700;
}
